<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>
<div class="flex-container">
<section id="welcome">
    <main>
      <% if (profile.avatar) { %>
        <div>
          <img class="profile-avatar" src="<%= profile.avatar %>" alt="<%= profile.name %> avatar">
        </div>
          <h1><%= isSelf ? "This guy" : profile.name %>'s list of Recipes</h1>
          <% if (isSelf) { %>
            <form action="/profiles/<%= profile._id %>/profiles" method="POST"></form>
            
                  <% } %>
                    <% } else { %>
                      <h2>
                        <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any profiles.
                      </h2>
                      <% } %>
                      
    </main>
</div>
</section>
    




            <%- include('../partials/footer') %>