<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>


<main>
  <div class="flex-container">
    <section id="welcome">
  <h1>Hope You're Hungry <%= user ? user.profile.name : "Beautiful Human" %>!</h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
<section>
  </section>
  </div>
  </main>

<%- include('./partials/footer') %>
