<%- include("../partials/html-head") %>
  <%- include("../partials/nav") %>
<main>
    <tbody>
      <% let total=0 %>
        <% recipe.reviews.forEach(function(review){ %>
          <% total +=review.rating %>
            <tr>
              <td>
                <%= review.createdAt.toLocaleDateString() %>
              </td>
              <td>
                <%= review.content %>
              </td>
              <td>
                <%= review.rating %>
              </td>
            </tr>
            <% }) %>
              <tr>
                </tbody>
                </table>
                <% } else { %>
                  <h3>No Reviews Yet</h3>
                  <% } %>
                  </main>