<%- include("../partials/html-head") %>
  <%- include("../partials/nav") %>
<div class="inside-container">
  <section id="inside">
    <section>
      <h1>Edit: <%= recipe.name %> </h1>
      <form action="/Recipes/<%= recipe._id %>?_method=PUT" method="POST">
        <section class="text-list">
          <h2>
            <%= recipe.name %>
          </h2>
         
            <p>
              <h2>Ingredients:</h2>
              <%= recipe.ingredients %>
            </p>
            <p>
              <h2>Instructions:</h2>
              <%= recipe.instructions %>
            </p>
           
              
        </section>
        <div class="input-forms">
          <label>
            Name: 
            <input type="text" name="name" value="<%= recipe.name %>" />
          </label>
          <label>
            <h3>Ingredients:</h3>
            <textarea name="ingredients"><%= recipe.ingredients.join(", ") %></textarea>
          </label>
          <label>
            Instructions:
            <textarea name="instructions"><%= recipe.instructions %></textarea>
            </label>
            <label>
              Add Image URL:
            <input type="text" name="image" value="<%= recipe.image %>"/>
          </label>
        </div>
        <button id="update-btn" type="submit" name>Update</button>
      </form>
    </section>
</section>
</div>

    
