<%- include("../partials/html-head") %>
  <%- include("../partials/nav") %>

    <section>
      <h1>Edit: <%= recipe.name %> </h1>
      <form action="/Recipes/<%= recipe._id %>?_method=PUT" method="POST">
        <section class="text-list">
          <h2>
            <%= recipe.name %>
          </h2>
         
            <p>
              <h2>Ingredients:</h2>
              <%= recipe.ingredients %>
            </p>
            <p>
              <h2>Instructions:</h2>
              <%= recipe.instructions %>
            <p>
      
        </section>
        <div class="input-forms">
          <label>
            Name: 
            <input type="text" name="name" value="<%= recipe.name %>" />
          </label>
          <label>
            Ingredients: 
            <textarea name="ingredients"><%= recipe.ingredients %></textarea>
          </label>
          <label>
            Instructions:
            <textarea name="instructions"><%= recipe.instructions %></textarea>
            </label>
          </label>
        </div>
        <button id="update-btn" type="submit">Update</button>
      </form>
    </section>

    <%- include("../partials/footer") %>
