<%- include("../partials/html-head") %>
  <%- include("../partials/nav") %>

    <section>
      <h1>Edit: <%= recipe.name %> </h1>
      <form action="/Recipes/<%= recipe._id %>?_method=PUT" method="POST">
        <section>
          <h2>
            <%= recipe.name %>
          </h2>
          <ul>
            <li>
              <%= recipe.ingredients %>
            </li>
            <li>
              <%= recipe.instructions %>
            </li>
          </ul>
        </section>
          <label>
            Name: 
            <input type="text" name="name" value="<%= recipe.name %>" />
          <label>
            Ingredients: 
            <textarea name="ingredients"><%= recipe.ingredients %></textarea>
          </label>
          <label>
            Instructions:
            <textarea name="instructions"><%= recipe.instructions %></textarea>
            </label>
          </label>
    
        <button type="submit">Submit Updates</button>
      </form>
    </section>

    <%- include("../partials/footer") %>
