<%- include("../partials/html-head") %>
  <%- include("../partials/nav") %>

    <section>
  
          <h2>All Recipes: </h2>
         
            <% recipes.forEach(recipe=> { %>
              <div class="recipe-label">
                
                <a class="recipes-list" href="/recipes/<%= recipe._id %>">
                  <%= recipe.name %>
                </a>
              </div>
              <% }) %>
         
    </section>

    <%- include("../partials/footer") %>