<%- include("../partials/html-head") %>
  <%- include("../partials/nav") %>


  <div class="body-border">
    <section>
          <h2>All Recipes: </h2>
         
            <% recipes.forEach(recipe=> { %>
              <div id="rec-li" class="recipe-label">
                
                <a class="recipes-list" href="/recipes/<%= recipe._id %>">
                  <%= recipe.name %>
                </a>
              </div>
              <% }) %>
         
    </section>
</div>
    <%- include("../partials/footer") %>