<%- include("../partials/html-head") %>
  <%- include("../partials/nav") %>

    <section>
      <p>From the kitchen of <%= recipe.owner.name %>
      </p>
          <% if (recipe.owner.equals(user?.profile._id)) { %>
            <form action="/recipes/<%= recipe._id %>/edit" method="GET">
              <button class="btn" type="submit">Edit this recipe </button>
            </form>
            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete this recipe </button>
            </form>
            <% } %>
            <main>
              <h1>
                <%= title %>
              </h1>
              <section>
                <div>Name: </div>
                <div>
                  <%= recipe.title %>
                    <a href="/recipes/<%= recipe._id %>/edit">Edit recipe</a>
                </div>
              
                <div>Author: </div>
                <div>
                  <%= recipe.profile %>
                </div>
               
              </section>
      
                      <h2>Add a review!</h2>
                      <form action="<%= recipe._id %>/reviews" method="POST">
                        <label for="content-textarea">Review:</label>
                        <textarea name="content" id="content-textarea"></textarea>
                        <label for="rating-select">Rating:</label>
                        <select name="rating" id="rating-select">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5" selected>5</option>
                        </select>
                        <button type="submit">Add Review</button>
                      </form>
                  
                        <% if (recipe.reviews.length) { %>
                          <table>
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Review</th>
                                <th>Rating</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% let total=0 %>
                                <% recipe.reviews.forEach(function(review){ %>
                                  <% total +=review.rating %>
                                    <tr>
                                      <td>
                                        <%= review.createdAt.toLocaleDateString() %>
                                      </td>
                                      <td>
                                        <%= review.content %>
                                      </td>
                                      <td>
                                        <%= review.rating %>
                                      </td>
                                    </tr>
                                    <% }) %>
                                      <tr>
                                        <td colspan="2"></td>
                                        <td>
                                          <strong>
                                            <%= averageReviewScore %>
                                          </strong>
                                        </td>
                                      </tr>
                            </tbody>
                          </table>
                          <% } else { %>
                            <h3>No Reviews Yet</h3>
                            <% } %>
    </section>

    <%- include("../partials/footer") %>